<p id="notice"><%= notice %></p>

<h1><%= t(:register_products) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_indices.each do |products_index| %>
      <tr>
        <td><%= products_index.name %></td>
        <td><%= link_to t(:show), group_products_index_path(id: products_index.id) %></td>
        <td><%= link_to t(:edit), edit_group_products_index_path(id: products_index.id) %></td>
        <td><%= link_to t(:destroy), group_products_index_path(id: products_index.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new), new_group_products_index_path %>
