<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name) %></strong>
  <%= @products_index.name %>
</p>

<%= link_to t(:edit), edit_group_products_index_path(@products_index) %> |
<%= link_to t(:back), group_products_indices_path %>
