<% if user_signed_in? %>
  <li><%= link_to t(:profile), edit_user_path(id: current_user.id)  %></li>
  <li><%= link_to t(:groups), groups_path  %></li>
  <% unless current_user.group_id == nil %>
    <li><%= link_to t(:edit_requests), group_products_path(group_id: current_user.group_id)  %></li>
    <li><%= link_to t(:register_products), group_products_indices_path(group_id: current_user.group_id)  %></li>
    <li><%= link_to t(:sign_out),  destroy_user_session_path, method: :delete %></li>
  <% end %>
<% end %>
