<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>State</th>
      <th>Price</th>
      <th>Due_date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.number %></td>
        <td><%= product.state %></td>
        <td><%= product.price %></td>
        <td><%= product.due_date %></td>
        <td><%= product.note %></td>
        <td><%= link_to 'Show', user_product_path(id: product.id, user_id: product.user_id) %></td>
        <td><%= link_to 'Edit', edit_user_product_path(product,id: product.id, user_id: product.user_id) %></td>
        <td><%= link_to 'Destroy', user_product_path(id: product.id, user_id: product.user_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_user_product_path(user_id: @user.id) %>
